/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {  
  margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #fff;
}

@media (max-width: 768px) {
.carousel .item {  
}    
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  background-size: cover;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.carousel-control.left {
    background-color: transparent !important;
    background-image: none;
    border: 0px solid #fff;
}

.carousel-control.right {
    background-color: transparent !important;
    background-image: none;
    border: 0px solid #fff;
}

#myCarousel {
    overflow: hidden;
    background-color: #fff !important;
    background-image: none;
    margin-bottom: 0px;
}

.carousel-inner {
    background-color: #fff !important
}

.carousel-caption {
    margin-top: 30px;
    position: relative;
    left: 0%;
    top: 0%;
    text-align: left;
}

.carousel-content h3 {
    margin: 0;
    text-transform: uppercase;    
    color: #333;
    font-size: 30px;
    text-shadow: none;
    font-weight: 300;
}

.carousel-content h4 {
    margin: 0;
    color: #333;
    font-size: 20px;
    text-shadow: none;
    font-weight: 300;
    margin-bottom: 20px;
}

.carousel-content p {
    text-shadow: none;    
    text-align: justify;
}

.carousel-bottom {
    position: relative;
    bottom: 0%;
}

.carousel-bottom a {
    font-size: 18px;
    text-shadow: none;
    font-weight: 300;
}

.ce-carousel-indicators {    
    display: inline-block;
    margin: 0 auto;
    margin-left: 20px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.ce-carousel-indicators {
    list-style-type: none;
}

.ce-carousel-indicators li {
    float: left;
    width: 20px;
    height: 20px;
    background-color: transparent !important;    
    background-image: url('/img/in-off.png');
    border: 0px solid #fff;
    cursor: pointer;
}

.ce-carousel-indicators li.active {
    width: 20px;
    height: 20px;    
    background-color: transparent !important;
    background-image: url('/img/in-on.png');    
}