.ta-center {
    text-align: center;
}

.p-relative {
    position: relative;
}

.display-table {
    display: table;
}

.display-none {
    display: none;
}

.m-20 {
    margin: 20px;
}

.m-40 {
    margin: 40px;
}