* {
    font-family: 'Vollkorn', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
    
    font-family: 'Signika', sans-serif;
    font-family: 'Lato', sans-serif;
    
    transition: all ease-in 0.3s;
    
    color: #333;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

h5 {
    font-size: 14px;
    font-weight: 100;
}

p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

ul li, ol li {
    font-size: 14px;
    font-weight: 300;    
}

body {    
}

#header {
    margin-top: 0px;
    padding: 0px;
    background-color: rgb(51, 51, 51);
    background-color: white;
    overflow: hidden;
    transition: height ease-in 0.3s;
    margin-bottom: 0px;
}

#header.collapsed {
    height: 0;
}

#header-background {
    position: absolute;
    width: 100%;
    height: 92px;
    background-color: rgb(51, 51, 51);
    background-color: rgb(45, 141, 199);
    z-index: 0;
}

#header-top {
    margin-top: 8px;
}

#header-top #header-logo {
    margin: 0px 0px;
    margin-top: 4px;
    width: 80px;
    float: left;
}

@media(max-width: 1199px)
{
}

#header-top h1 {
    font-family: 'Vollkorn', serif;
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 15px;
    color: green;
    font-weight: 900;
    font-size: 95px;    
    color: rgb(51, 51, 51);
    color: white;
    text-shadow: 0px 0px 25px rgba(51, 51, 51, 1);
    line-height: 60px;
}

#header-top h1#hl-large {
    margin-top: 20px;
    font-size: 50px;
}


#header-button {
    margin-top: 32px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: all ease-in 0.1s;
}

#header-button:hover {
    transition: all ease-in 0.1s;
    -webkit-transform: scale(1.2);
}

ul#header-xs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    transition: none;
}

ul#header-xs li {
    padding: 10px 20px;
    cursor: pointer;
}

ul#header-xs li:hover {
    background-color: rgb(241, 241, 241);
}

ul#header-xs li span {
    font-size: 30px;   
    float: left;
    margin-left: 38px;
}

ul#header-xs li h4 {
    margin-left: 50px;
    float: left;
}

ul#header-menu {    
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

li.hb {
    overflow: hidden;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px;    
    margin-bottom: 5px;
    padding-top: 20px;
    cursor: pointer;
    background-color: white;
    
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;    
    border: 1px solid rgb(181, 181, 181);
}

li.hb.hovered {
    transition: all ease-in 0.2s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    
    -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1.4);

    border: 0px solid rgb(51, 51, 51);
    border: 1px solid rgb(120, 120, 120);
}

li.hb.unhovered {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);    
}

li.hb.collapsed {
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
}

li.hb span {
    font-size: 30px;
    color: rgb(51, 51, 51);
}

li.hb.hovered span {
    -webkit-transform: translate(0px, -5px);
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    color: rgb(51, 51, 51);
    font-size: 25px;
    margin-top: 0px;
}

li.hb .short-r {
    position: relative;    
}

li.hb .short {
    position: absolute;
    width: 100%;
}

li.hb .short h5 {
    text-align: center;
    margin: 0 auto;
    color: #777;
    opacity: 1;
    font-weight: 500;
    font-size: 14px;    
    margin-top: 10px;
    display: block;
    transition: all ease-in 0.5s;   
    transition-delay: 0.2s;    
}

li.hb.hovered .short h5 {
    transition: all ease-in 0.5s;
    transition-delay: 0s;
    opacity: 0;
}

li.hb .title {
    background-color: rgb(51, 51, 51);
    padding: 0px 0px;
    margin-top: 80px;
    padding: 2px 0px;
    height: 35px;
    height: 50px;
}

li.hb.hovered .title {
    transition: all ease-in 0.2s;
    transition-delay: 0.4s;
    display: block;
    margin-top: 5px;
}

li.hb .title h4 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 150px;    
    color: wheat;
    font-size: 12px;
    font-weight: 100;
    height: 12px;
    font-weight: 900;
    overflow: hidden;
}

li.hb.hovered .title h4 {
    margin-left: 0px;
    transition: all ease-in 0.2s;
    transition-delay: 0.6s;
}

li.hb .title p {
    text-align: center;
    margin-right: 150px;
    color: white;
    font-size: 9px;    
    font-weight: 300;
    overflow: hidden;
}

li.hb.hovered .title p {
    text-align: center;
    margin-right: 0px;
    transition: all ease-in 0.2s;
    transition-delay: 0.6s;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- WELCOME ----------------------------------- */
/* ---------------------------------------------------------------------------- */

#welcome-header {
    margin: 0px;
    margin-bottom: 20px;
    
    background-color: rgb(51, 51, 51);    
    background-color: rgb(45, 141, 199);
}

#welcome-header h1 {
    text-align: center;
    color: white;
    margin: 20px 0px;
    font-weight: 200;
}

#welcome p {
    margin-top: 10px;
    font-size: 16px;
}

#welcome img {
    margin-top: 0px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- SLIDER ------------------------------------ */
/* ---------------------------------------------------------------------------- */

#slider {
    max-width: 1700px;
}

#slider-header {
    text-align: center;
    margin: 20px 0px;
    margin-bottom: 40px;
    padding: 0px 0px;
    background-color: rgb(51, 51, 51);
}

#slider-header h1 { 
    margin: 20px 0px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- BREAD ? ----------------------------------- */
/* ---------------------------------------------------------------------------- */

#bread-menu {
    width: 100%;
    height: 115px;
}

#bread-menu .container {
    background-color: rgb(51, 51, 51);
    height: 100%;
}

#bread-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 115px;

    background: linear-gradient(
        to right, 
        #fff 0%, 
        #fff 50%, 
        #333 50%, 
        #333 100%
    );    
    z-index: -1;
}

#bread-menu ul {    
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    height: 100%;
}

#bread-menu .bb-item {
    text-align: center;
    padding: 0px;
    margin: 0;    
    padding-top: 10px;
    margin-left: 5px;
    font-size: 70px;
    color: rgb(51, 51, 51);
}

#bread-menu .bb-item.bb-breadcumb {
    margin-right: 50px;
}

#bread-menu .bb-item span {
    
}

#bread-menu .bb-item h4 {
    
}

#bread-menu li.bb-arrow {    
    width: 200px;
    height: 100%;    
    background: url('/img/arrow.png') center right;
    background-repeat: no-repeat;
    background-color: white;
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- CONTENT ----------------------------------- */
/* ---------------------------------------------------------------------------- */

#content {
    width: 100%;
    min-height: 20px;    
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------- FOOTER ------------------------------------ */
/* ---------------------------------------------------------------------------- */

#footer * {
    color: #ccc;
}

#footer {
    position: relative;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

#footer-background, #footer-background-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    
    background-color: white;     
    z-index: 0;
}

#footer-background-bottom {
    bottom: 0px;
    height: 80px;
}

#footer .container {
    position: relative;
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(91, 91, 91);
    
    z-index: 1;
    padding-top: 40px;
    margin-bottom: 40px;
    background: url('/img/footer.jpg') 50% 50%;
    background: none;
    background-color: rgb(41, 41, 41);
}

#footer ul {
    padding: 10px;
    list-style-type: none;
}

#footer ul li.fb {
    margin-bottom: 20px;
}

#footer ul li ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#footer ul li ol li {
    margin-bottom: 0px;
}

#footer ul li ol li span {
    margin-right: 10px;
}

.fb-icon {
    font-size: 110px;
    opacity: 0.1;
}

.fb-img {
    padding: 0px;
    border: 1px solid #555;
    margin-bottom: 10px;
}

.fb-item-title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 300;
}

.fb-item-desc {
    font-size: 12px;
    font-weight: 100;
}

#footer .fb-title {
    color: white;
    display: block;
    text-transform: uppercase;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 300;
}

#footer .fb-title span {
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------- COPYRIGHT ---------------------------------- */
/* ---------------------------------------------------------------------------- */

#copyright {
    text-align: center;
}

#copyright p {
    text-align: center;
    margin: 10px 0px;
    color: #555;
}